async-timeout==4.0.2
attrs==21.4.0
brotlipy==0.7.0
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
click==8.1.2
clickclick==20.10.2
colorama==0.4.4
conda==4.12.0
conda-package-handling==1.8.1
connexion==2.13.0
cryptography==36.0.0
Deprecated==1.2.13
Flask==1.1.2
Flask-Testing==0.8.1
gitdb==4.0.9
GitPython==3.1.27
idna==3.3
importlib-metadata==4.11.3
importlib-resources==5.6.0
inflection==0.5.1
itsdangerous==2.1.2
Jinja2==3.1.1
jsonschema==4.4.0
MarkupSafe==2.1.1
msgpack==1.0.3
packaging==21.3
pip==21.2.4
pycosat==0.6.3
pycparser==2.21
pyOpenSSL==22.0.0
pyparsing==3.0.7
pyrsistent==0.18.1
PySocks==1.7.1
python-dateutil==2.8.2
PyYAML==6.0
redis==4.2.2
requests==2.27.1
ruamel-yaml-conda==0.15.100
setuptools==58.0.4
six==1.16.0
smmap==5.0.0
swagger-ui-bundle==0.0.9
tqdm==4.63.0
urllib3==1.26.9
Werkzeug==2.1.1
wheel==0.37.1
wrapt==1.14.0
zipp==3.8.0
